/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------- css reset code ---------------------- */




#image-0{
    height: 510px;
    background-image: url(https://www.hera.com/kr/ko/layout/main/upper-slide/__icsFiles/afieldfile/2023/04/14/20230417_final_UV-PROTECTOR-ACTIVE-SUN-BALM_main_KV_mo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

.head-text{
    position: absolute;
    bottom: 55px;
    left: 20px;
    color: white;
}

.head-text > :first-child{
    font-size: 20px;
    font-weight: bold;
}

.head-text > :nth-child(2){
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
}

.head-text > :last-child > button{
    height: 40px;
    margin-top: 16px;
    width: 90px;
    background-color: black;
    color: white;
    border: none;
}

#image-1{
    height: 195px;
    background-image: url(https://www.hera.com/kr/ko/layout/main/campaign/__icsFiles/afieldfile/2022/05/27/20220531_final_main_campaign_img_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.main-1{
    padding: 60px 0px 45px;
    text-align: center;
}

.ma-1-text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ma-1-1-text{
    font-size: 15px;
    margin-top: 15px;
    color: #666666;
}

.main-2{
    text-align: center;
}

#image-2{
    height: 195px;
    background-image: url(https://www.hera.com/kr/ko/layout/main/story/__icsFiles/afieldfile/2023/02/13/20230208_final_NEUTRAL-TONES-LIGHTWEIGHT-LAYERS_main_story-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.ma-2-text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ma-2-1-text{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 60px;
    color: #666666;
}

#image-3{
    height: 204px;
    background-image: url(https://www.hera.com/kr/ko/products/__icsFiles/afieldfile/2023/02/09/20230208_final_SENSUAL-POWDER-MATTE-LIQUID_thumbnail01-133.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 148px;
}

#image-4{
    height: 204px;
    background-image: url(https://www.hera.com/kr/ko/products/__icsFiles/afieldfile/2022/04/27/20220422_final_SILKY-STAY-FOUNDATION_thumbnail07_21N1_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 148px;
}

.ma-3-item-list{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.ima-text{
    font-size: 13.5px;
}

#image-5{
    height: 204px;
    background-image: url(https://www.hera.com/kr/ko/products/__icsFiles/afieldfile/2022/05/18/20220531_final_Sensual-Fitting-Glow-Tint_pdp_thumbnail01_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 148px;
}

#image-6{
    height: 204px;
    background-image: url(https://www.hera.com/kr/ko/products/__icsFiles/afieldfile/2023/01/25/230125_final_UV-PROTECTOR_TONE-UP_thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 148px;
}

.ma-3-item-list2{
    display: flex;
    justify-content: space-evenly;
}

.ma-3-ti{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-3{
    text-align: center;
}


.ima-text > :first-child{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

.ima-text > :last-child{
    color: #666666;
}

.main-3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.ma-4-te-1{
    text-align: center;
    margin-top: 30px;
}
.ma-4-te-1 > :first-child{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 15px;
}

.ma-4-te-1 > :nth-child(2){
    font-size: 13px;
    padding-bottom: 15px;
    color: #666666;
}

.ma-4-te-1 > :last-child{
    font-size: 12px;
    padding-bottom: 15px;
    font-weight: 500;
}

#image-7{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/586451880/medium/8d7067dd298d36233e6f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-8{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/584043304/medium/69aa4ff666db59630cb6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-9{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/584104758/medium/226ebb4446c91396e8b4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-10{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/584504299/medium/9c53f038a8d30f121127.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-11{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/584504292/medium/2cd0ced29770a2fc8fe2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-12{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/571847297/medium/e5799c8490751ac9db02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-13{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/571847294/medium/4d8e0abd556f894347de.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-14{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/571847291/medium/30174a80eb2eb9489b28.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-15{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/571847303/medium/5e1f8c65ec1b645ad389.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-16{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/571847300/medium/c9ba8b5587c872d668c2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

.ma-4-img{
    gap: 20px;
    display: flex;
    overflow: hidden;
    overflow: auto;
    padding-bottom: 60px;
}

#image-17{
    height: 24px;
    background-image: url(https://www.hera.com/kr/ko/resource/image/misc/sns_facebook_renew.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24px;
}

#image-18{
    height: 24px;
    background-image: url(https://www.hera.com/kr/ko/resource/image/misc/sns_youtube_renew.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24px;
}
#image-19{
    height: 24px;
    background-image: url(https://www.hera.com/kr/ko/resource/image/misc/sns_instagram_renew.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24px;
}
#image-20{
    height: 24px;
    background-image: url(https://www.hera.com/kr/ko/resource/image/misc/sns_kakao_renew.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24px;
}

#image-21{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/542917547/medium/e384dd31ea31aad4dfec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-22{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/542917523/medium/490fa7adbe0b6a5bec0f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-23{
    height: 22px;
    background-image: url(https://www.hera.com/kr/ko/resource/image/a/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 120px;
    
}

#image-24{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/581934914/medium/7047cc04b32c4cbe47a7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

#image-25{
    height: 160px;
    background-image: url(https://static.pxlecdn.com/photos/580618862/medium/184d8259221912867251.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 160px;
}

.head-t{
    padding: 10px;    
}

.logo{
    display: flex;
    justify-content: space-evenly;
}

.foot-top{
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;
    padding: 10px;
}

.foot-mi{
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 10;
    margin: 0 auto;
}

@media (min-width:1023px){
    .main-3{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;    
    }
    #image-2{
        width: 1024px;
        margin: 0 auto;
    }
    .ma-4-img{
        width: 1024px;
        margin: 0 auto;
    }
}

